@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Employee
<form actionr="Upload/Employee" method="POST">
    <input asp-for="@Model.Name"/>
</form>