@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject Personen personen
@model Neubau
<form actionr="Upload/Employee" method="POST">
    <input asp-for="@Model.KW" />
    <input asp-for="@Model.Employee" />
</form>